@font-face {
    font-family: OpenSansCon;
    src: url(OpenSansCondensed-Bold.woff);
}

body {
  background-image: url("hexagons.jpg");
    background-color: #000000;
    background-size: auto;
    font-family: OpenSansCon;
}

#linkkipalkki img {
max-width: 20%;
max-height:2em;
vertical-align:middle
}

#sisalto a:link,
#sisalto a:visited{
  color: white;
  text-decoration: underline;
}
 #sisalto a:hover {
   color: white;
   text-decoration: underline;
   background-color: #242424;
}

#pohja {
/*position: absolute;*/
margin-top: 2%;
left: 1%;
top: 2%;
width: auto; /*Pohjan leveys*/
height: auto;

/*border: 3px double #878787;*/

}

#otsikkopalkki {
/*position: absolute;*/
color: white;
width: auto;
height: auto;
font-size: 16;
padding-bottom: 1%;
margin-left: auto;
margin-top: 2%;
margin-right: auto;
white-space: nowrap;
overflow: visible;
}

#otsikkopalkki a:link,
#otsikkopalkki a:visited,
#otsikkopalkki a:hover {
   text-decoration: none;
}

#linkkipalkki {

  /*position: absolute;*/
  padding-left: 5%;
  padding-right: 2%;
  margin-bottom: 0px;
  font-size: 2vw;
  height: 2.5em;
  width: auto;
  text-align: left;
color: white;
/*background-color: #000000d0;*/
border-radius: 5px;
overflow: visible;
}

#linkkipalkki a:link{
  color: white;
  text-decoration: none;
}
#linkkipalkki a:visited{
  color: white;
  text-decoration: none;
}
#linkkipalkki a:hover {
   color: white;
   background-color: #7d7d7d;
   text-decoration: none;
}

#sisalto {
/*position: absolute;*/
margin-left: auto;
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: auto;
background-color: #000000af;
overflow: auto;
color: white;
width: auto;
max-width: auto;
height: auto;

/*max-height: 75%;*/
border-radius: 5px;
}

#footer {
  margin-left: auto;
  margin-right: auto;
text-align: center;
font-size: 12;
color: white;
/*background-color: #131313;*/
width: 100%;
/*max-width: 1000px;*/
height: 1.5em;
/*border-radius: 10px;*/
}
